.original, .box {
  border-radius: 6px;
}
.original {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 50px;
}
.group {
  perspective: 200px;
}
.box {
  background: #2db34a;
  height: 95px;
  line-height: 95px;
  text-align: center;
  transform: rotateX(45deg);
  width: 95px;
}
.box1{
    transform: perspective(100px) rotateX(45deg);
}
.box2{
    transform: perspective(10000px) rotateX(45deg);
}
.spin {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin:hover {
    animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
